:root {
    --nav-height: 80px;
}
.gh-head {
    position: fixed;
    transition: all .2s;
    width: 100%;
    height: var(--nav-height);
    top: 0;
    z-index: 99999;
}
.scroll-down .gh-head {
    transform: translateY(-100px);
}
.scroll-up .gh-head {
    transform: translateY(0);
    border-bottom: 1px solid var(--color-border);
}
body:not(.home-template){
    padding-top: var(--nav-height);

}
.is-head-open .gh-head {
    height: 100%;
}
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  .gh-head-btn.gh-btn.social {
    height: 34px;
    width: 34px;
    padding: 0;
}
.gh-head-actions {
    gap: 1rem;
}

.gh-home-cta {
    background: #08172d !important;
    color: #fff;
}

.is-head-brand:not(.is-head-transparent) .gh-head {
    background: #08172d !important;
}
.gh-home-latest-footer .gh-btn {
    background: #08172d !important;
}
.gh-home-latest-indicator {
    background-color: #08172d !important;
}

.home-template.is-head-brand.is-home-cta.has-serif-body {
    font-family: 'Archivo', sans-serif !important;
}
.counter {
    margin-top: 4rem;
    font-style: italic;
}

.has-serif-title .gh-home-subscribe-title {
    font-family: 'Archivo', sans-serif !important;
}


.home-template.has-serif-title .gh-article-title {
    font-family: inherit !important;
}